/* Style Sheet */
/* This defines styles and classes used in the book */

body { margin-left: 5%; margin-right: 5%; margin-top: 5%; margin-bottom: 5%; text-align: justify; }
pre { font-size: x-small; }
h1 { text-align: center; }
h2 { text-align: center; }
h3 { text-align: center; }
h4 { text-align: center; }
h5 { text-align: center; }
h6 { text-align: center; }
.CI {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    }
.center
{text-align: center;}

.smcap
{font-variant: small-caps;}

.u
{text-decoration: underline;}

.bold
{font-weight: bold;}

.domain
{font-style: italic;}

.sgc-toc-title {
	font-family : Alegreya, serif;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

.sgc-toc-level-1 {
	margin-top:0.5em;
	margin-bottom: 0.25em;
	margin-left: 2em;
}

div.centered_image {
  width: 15%;
  margin: 1em 42.5%;
}

div.centered_image img {
  width: 100%;
}